$primary-main: #0ab9f1;
$primary-light: #e0f5fd;

$secondary-main: #ff6d3c;

$grey-black: #3b3b46;
$grey-dark: #757575;
$grey-regular: #c8c8c8;
$grey-light: #e4e4e4;

$white: #fff;
$white-bg: #f4f4f4;

$red: #d32f2f;
$yellow: #f9a125;
$green: #4caf50;
