@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";
@import "./colors.scss";
@import "./fonts.scss";

body {
  background-color: $white-bg;
}

.header {
  .logo {
    max-width: 70px;
  }

  .register {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $grey-black;
    font-size: $regular;
    font-weight: bold;
  }
}